# Dependencies
node_modules/
dist/
dist-server/
.DS_Store

# Environment
.env
.env.local

# Databases
*.sqlite
database.sqlite-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Other
client/dist/
server/dist/
server/uploads/*
!server/uploads/.gitkeep
